################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
LunarLander/LunarLander/LunarLander/bin/Debug/LunarLander.exe
LunarLander/LunarLander/LunarLander/bin/Debug/LunarLander.pdb
/LunarLander/LunarLander/.vs/LunarLander/v16/Server/sqlite3/db.lock
LunarLander/LunarLander/LunarLander/obj/Debug/LunarLander.pdb
LunarLander/LunarLander/LunarLander/obj/Debug/LunarLander.exe
LunarLander/LunarLander/LunarLander/bin/Debug/LunarLander.pdb
LunarLander/LunarLander/LunarLander/bin/Debug/LunarLander.exe
LunarLander/LunarLander/.vs/LunarLander/v15/Server/sqlite3/storage.ide-wal
LunarLander/LunarLander/.vs/LunarLander/v15/.suo
LunarLander/LunarLander/.vs/LunarLander/v15/Server/sqlite3/storage.ide-wal
LunarLander/LunarLander/.vs/LunarLander/v15/.suo
LunarLander/LunarLander/LunarLander/bin/Debug/LunarLander.pdb
LunarLander/LunarLander/LunarLander/bin/Debug/LunarLander.exe
LunarLander/LunarLander/.vs/LunarLander/v15/Server/sqlite3/storage.ide-wal
LunarLander/LunarLander/.vs/LunarLander/v15/Server/sqlite3/storage.ide-shm
LunarLander/LunarLander/.vs/LunarLander/v15/.suo
LunarLander/LunarLander/LunarLander/obj/Debug/LunarLander.csproj.CoreCompileInputs.cache
LunarLander/LunarLander/LunarLander/obj/Debug/LunarLander.csproj.GenerateResource.cache
LunarLander/LunarLander/LunarLander/obj/Debug/LunarLander.csprojAssemblyReference.cache
LunarLander/LunarLander/LunarLander/obj/Debug/LunarLander.exe
LunarLander/LunarLander/LunarLander/obj/Debug/LunarLander.pdb
LunarLander/LunarLander/LunarLander/SpaceShip.cs
*.ide-shm
